{% extends "base.html" %}
{% block content %}
{% load custom_filters %}

<!-- Main Content-->
<section>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-6 mb-4">
                <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="/static/img/pexels-bich-tran-669986.jpg" class="img-fluid" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Search for Available Sessions</h5>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <br>
                            <!-- Date input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="{{ form.date.id_for_label }}">Date</label>
                                {{ form.date }}
                            </div>
                            <!--<div class="form-outline mb-4">
                                <label class="form-label" for="dateInput">Date</label>
                                <input type="date" id="dateInput" class="form-control" />
                            </div>-->

                            <!-- Time input with options -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="{{ form.time.id_for_label }}">Time</label>
                                {{ form.time }}
                            </div>
                            <!--<div class="form-outline mb-4">
                                <label class="form-label" for="timeInput">Time</label>
                                <input type="time" id="timeInput" class="form-control" list="timeOptions" />
                                <datalist id="timeOptions">
                                    <option value="12:00"></option>
                                    <option value="13:00"></option>
                                    <option value="14:00"></option>
                                    <option value="15:00"></option>
                                    <option value="16:00"></option>
                                    <option value="17:00"></option>
                                    <option value="18:00"></option>
                                </datalist>
                            </div>-->
                            <!-- Submit button -->
                            <div class="text-center">
                                <button id="sendButton" type="submit" class="btn btn-primary"
                                    style="width: 30%">Book</button>
                            </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}