<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/clean-blog.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- Link to the style.css file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>The Health Club Project | Personal Trainer Sessions and Gym memberships </title>
</head>

<body>
 
 <!-- Navigation-->
 <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
  <div class="container px-4 px-lg-5">
      <a class="navbar-brand" href="{{ url_for('index') }}">The Health Club Project</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto py-4 py-lg-0">
              <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ url_for('index') }}">About us</a></li>
              <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ url_for('pt') }}">Personal Trainer</a></li>
              <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ url_for('member') }}">Members</a></li>
          </ul>
      </div>
  </div>
</nav>

<!-- Page Header-->
<header class="masthead" style="background-image: url('static/img/pexels-lukas-669584.jpg')">
  <div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<div class="site-heading">
                  <h1>The Health Club Project</h1>
                  <span class="subheading">This is the Health Club with a purpose. Be the best that you can be!</span>
              </div>
          </div>
      </div>
  </div>
</header>

<!-- Main Content-->
<section>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6">
                        <div class="p-5"><img class="img-fluid" src="static/img/pexels-victor-freitas-703014.jpg" alt="..." /></div>
                        </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="display-4">Join us!</h2>
                        <h4 class="post-subtitle">We want you to be very best version of your self, this is the Health Club where we help you to acheive the goals that you want to reach. Book your Personal Trainer session today and get started on your journey!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <div class="col-lg-6">
                                <div class="p-5"><img class="img-fluid" src="static/img/pexels-victor-freitas-841130.jpg" alt="..." /></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <h6 class="display-4">Members</h6>
                                    <p class="post-subtitle">become a member</p>
                                    <button>Register/Sign in</button>
                                    <div class="row">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="px-4 px-lg-5">
                    <div class="row gx-5 align-items-center custom-column">
                        <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <div class="col-lg-6">
                                <div class="p-5"><img class="img-fluid" src="static/img/pexels-victor-freitas-841130.jpg" alt="..." /></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <h6 class="display-4">Members</h6>
                                    <p class="post-subtitle">become a member</p>
                                    <button>Register/Sign in</button>
                                    <div class="row">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

{% block content%}
{% endblock %}
  
<!-- Footer-->
<footer style="background-color: rgb(124, 130, 133);" class="border-top">
  <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
              <ul class="list-inline text-center">
                  <li class="list-inline-item">
                      <a href="#!">
                          <span class="fa-stack fa-lg">
                              <i class="fas fa-circle fa-stack-2x"></i>
                              <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                          </span>
                      </a>
                  </li>
                  <li class="list-inline-item">
                      <a href="#!">
                          <span class="fa-stack fa-lg">
                              <i class="fas fa-circle fa-stack-2x"></i>
                              <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                          </span>
                      </a>
                  </li>
              </ul>
              <br>
              <div class="small text-center footer-text-color fst-italic">Copyright &copy; The Health Club Project 2023</div>
          </div>
      </div>
  </div>
</footer>
<!-- Bootstrap core JS-->
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

<!-- Core theme JS-->
<script src="{{ url_for('static', filename='js/clean-blog.min.js') }}"></script>
<!-- font awesome script -->
<script src="https://kit.fontawesome.com/c7dbda0798.js" crossorigin="anonymous"></script>
</body>
</html>