{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Login" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>{% trans "Login" %}</h3>
            <p>{% blocktrans %}Welcome back! If this is your first time visiting, feel free to
                <a class="link" href="{{ register_url }}">register</a>{% endblocktrans %}
            </p>
        </div>

        <div class="card-body">
            <h3>{% trans "Login" %}</h3>
            <h5>{% blocktrans %} Welcome back! </h5>
            <p>Want to become a member? <a class="link" href="{{ register url }}">Sign in</a>
                {% endblocktrans %}
            </p>
            <form class="login" method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="email" name="email" id="form2Example1" class="form-control" />
                    <label class="form-label" for="form2Example1">Email address</label>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                    <input type="password" name="password" id="form2Example2" class="form-control" />
                    <label class="form-label" for="form2Example2">Password</label>
                </div>

                <!-- Submit button -->
                <div class="text-center">
                    <button type="submit" class="btn btn-primary" style="width: 30%">Log in</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}