{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<!-- Main Content-->
<section>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-6">
                <div class="p-5"><img class="img-fluid"
                        src="https://res.cloudinary.com/dbjnqkn07/image/upload/v1692358156/healthclub-pp4/pexels-victor-freitas-703014_mwhg9x.jpg"
                        alt="prepare" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h5 class="display-4">Members</h5>
                    <h5 class="post-subtitle">As a member in our club you get special offers and discounts on our
                        Personal Trainer sessions.
                        When you sign up for a membership you also get a free introduction with one of our Personal
                        Trainers,
                        so dont wait, sign up today!</h5>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Postcard layout by MDBootstrap-->
<main class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="https://res.cloudinary.com/dbjnqkn07/image/upload/v1692358156/healthclub-pp4/pexels-victor-freitas-841130_ggalv1.jpg"
                            class="img-fluid" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Contact Us</h5>
                            <p>If you have questions or thoughts about our site, what we offer, booking requests or just want to get in touch. 
                                Fill in the form and we will get back to you shortly.<br>We look forward to hear from you!</p>
                            <button id="sendButton" type="button" class="btn btn-primary"
                                    style="width: 30%">Contact</button>
                            </div>
                        <br>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-4">
                <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="https://res.cloudinary.com/dbjnqkn07/image/upload/v1692358155/healthclub-pp4/pexels-victor-freitas-703016_p5hqbj.jpg"
                            class="img-fluid" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Log in & Register</h5>
                            <p>When you have a registered account with us you can access your personal information listed with us as well as handle your booking requests. 
                                You can also update the information and you also have the possiblity to receive the lates news and offers. </p>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary" style="width: 30%" 
                                <a href="{% url 'login' %}">Log in</button>
                            </div>
                            <br>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary" style="width: 30%" 
                                <a href="{% url 'register' %}">Register</button>
                            </div>
                    </div>
                </div>
            </div>
            {% endblock %}