{% extends "base.html" %}
{% block content %}

<!-- Main Content-->
<section>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-6">
                <div class="p-5"><img class="img-fluid" src="/static/img/pexels-victor-freitas-703014.jpg" alt="..." />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h4 class="display-4">Personal Trainer</h4>
                    <h5 class="post-subtitle">A session with a Personal Trainer that has the knowledge on how the human
                        body reacts and knows how You can get where you want to be can make the whole difference. Book
                        your Personal Trainer session today and get started on your journey!</h5>
                    <a href="{% url 'book' %}" class="btn btn-primary">Book session</a>

                </div>
            </div>
        </div>
    </div>
</section>

<!--Postcard layout by MDBootstrap-->
<main class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="/static/img/pexels-victor-freitas-841130.jpg" class="img-fluid" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">About Us</h5>
                        <p class="card-text">
                            The Health Club with a purpose and the goal to help you become who you want to be.
                        </p>
                        <a href="{% url 'index' %}" class="btn btn-primary">Read more</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-4">
                <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="/static/img/pexels-victor-freitas-703016.jpg" class="img-fluid" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Members</h5>
                        <p class="card-text">
                            Become a member today to receive the lates news, offers and much more.
                        </p>
                        <a href="{% url 'member' %}" class="btn btn-primary">Sign in/Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}