{% extends "base.html" %}
{% block content %}

<!-- Main Content-->
<section>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-6">
                <div class="p-5">
                    <img class="img-fluid"
                        src="https://res.cloudinary.com/dbjnqkn07/image/upload/v1692358156/healthclub-pp4/pexels-victor-freitas-703014_mwhg9x.jpg"
                        alt="..." />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h5 class="display-4">Profile Page</h5>
                </div>
            </div>
            <table class="profile-table">
                {% csrf_token %}
                <thead>
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Email Address</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td><a class="btn btn-dark btn-profile" href="{% url 'delete-account' user.id %}"></a>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>


{% endblock %}