{% extends "base.html" %}
{% load i18n %}

{% block head_title %} {% trans "Register" %} {% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 mb-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="https://res.cloudinary.com/dbjnqkn07/image/upload/v1699354020/healthclub-pp4/pexels-bich-tran-669986_1_hwbku7.jpg"
                        class="img-fluid" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h3>{% trans "Register" %}</h3>
                    <h5>{% blocktrans %} Glad you found us! </h5>
                    <p>Already a member? <a class="link" href="{{ login url }}">Sign in</a>
                        {% endblocktrans %}
                    </p>
                    <form class="signup" method="POST"="{% url 'register' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                            <button id="signInButton" type="submit" class="btn btn-primary"
                                style="width: 30%">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}